<div id="image-viewer">
  <div class="image-photo">
    <img class="the-photo" src="feed" alt="If you can read this, something went terribly wrong.">
  </div>
</div>
<style>
  
  html, body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  div#image-viewer {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
  }
  
  div.image-photo {
    position: absolute;
    padding: 20px;
    margin: 0;
    height: 100%;
  }
  
  div.image-photo img {
    object-fit: contain;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
  
</style>

<script>
  $(document).ready(function() {
    setInterval(refreshPhoto,30000)
  });
  
  function refreshPhoto() {
    try {
      $('img').prop("src","feed?" + new Date().getTime());
      var now = new moment();
      $(".top-text").text("Updated text now: " + now.format("HH:mm:ss"));
    } catch(err) {
      console.log("Something bad happened: " + err)
      console.log("No worries.  We'll try again shortly.")
    }
  }
</script>