<span class="top-text">Let's get started!</span>
<!--<img src="feed" alt="A photo" width="100%">-->


<script>
  $(document).ready(function() {
    setInterval(refreshPhoto,15000)
  });
  
  function refreshPhoto() {
    //$('img').prop("src","feed?" + new Date().getTime());
    var now = new moment();
    $(".top-text").text("Updated text now: " + now.format("HH:mm:ss"));
  }
</script>